/* Estilos generales del contenedor */
.container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #54b8fc;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Reduce el padding superior */
    border-bottom: 5px solid #080101;
    z-index: 100; /* Asegura que el navbar esté por encima de otros elementos */
    transition: background-color 0.3s;
  }
  
  /* Estilos del título */
  h1 {
    font-size: 24px;
    margin: 0;
    font-weight: 700;
  }
  
  /* Estilos de los enlaces */
  NavLink {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    transition: color 0.3s;
  }
  
  NavLink:hover {
    text-decoration: underline;
    color: #f8a419;
  }
  
  /* Estilos para el ícono desplegable */
  .dropdown-button {
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .down-icon {
    margin-left: 5px;
    font-size: 18px;
    transition: transform 0.3s;
  }
  
  .down-icon:hover {
    transform: scale(1.1);
  }
  
  /* Estilos para el widget de carrito */
  .cart-widget {
    background-color: #f8a419;
    color: #333;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
  }
  
  .cart-widget:hover {
    background-color: #ffca28;
  }